<p-toast></p-toast>
<p>News</p>
<a routerLink="./create" class="p-button font-bold mb-4">
    Add
</a>
<p-dataView #dv [value]="news">
    <ng-template pTemplate="list" let-products>
        <div class="grid grid-cols-1 gap-4">
            <div class="col-span-1" *ngFor="let item of products; let first = first">
                <div
                    class="bg-gray-800 text-white p-4 rounded-lg shadow-lg flex flex-col sm:flex-row sm:items-center gap-4">
                    <img role="presentation" [alt]="item.title" [src]="item.photoUrl"
                        class="w-full sm:w-48 h-auto rounded-lg" />
                    <div class="flex flex-col flex-1 gap-4">
                        <div>
                            <h2 class="text-xl font-bold">{{ item.title }}</h2>
                            <p class="text-gray-400">{{ item.content }}</p>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-col">
                                <span class="text-sm text-gray-500">Published: {{ item.publishedAt | date:'mediumDate'
                                    }}</span>
                                <span class="text-sm text-gray-500">Updated: {{ item.updatedAt | date:'mediumDate'
                                    }}</span>
                            </div>
                            <!-- <div class="bg-gray-700 p-1 rounded-full">
                                <div
                                    class="bg-gray-800 flex items-center gap-2 justify-center py-1 px-2 rounded-full shadow-sm">
                                    <span class="text-yellow-500 font-medium text-sm">{{ item.rating }}</span>
                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                </div>
                            </div> -->
                        </div>
                        <div class="flex flex-row gap-2">
                            <a routerLink="./edit/{{ item.id }}" class="p-button p-button-rounded p-button-info">
                                Edit
                            </a>
                            <button class="p-button p-button-rounded p-button-danger" (click)="deleteNews(item.id)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>