<div class="container mx-auto p-4">
    <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Profile</h2>
        <div class="mb-6">
            <h3 class="text-xl font-semibold">User Information</h3>
            <p class="text-gray-400">Name: {{ user.name }}</p>
            <p class="text-gray-400">Email: {{ user.email }}</p>
        </div>
        <div>
            <h3 class="text-xl font-semibold mb-4">Change Password</h3>
            <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
                <!-- <div class="mb-4">
                    <label for="currentPassword" class="block text-sm font-medium text-gray-300">Current
                        Password</label>
                    <input id="currentPassword" type="password" formControlName="currentPassword"
                        class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div> -->
                <div class="mb-4">
                    <label for="newPassword" class="block text-sm font-medium text-gray-300">New Password</label>
                    <input id="newPassword" type="password" formControlName="newPassword"
                        class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="block text-sm font-medium text-gray-300">Confirm New
                        Password</label>
                    <input id="confirmPassword" type="password" formControlName="confirmPassword"
                        class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
                <button type="submit" class="p-button p-button-rounded p-button-success w-full sm:w-auto">Change
                    Password</button>
            </form>
        </div>
    </div>
</div>