<div class="login">
    <h1>Login</h1>
    <!-- <form [formGroup]="form" (ngSubmit)="submit()"> -->
    <form class="login-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input pInputText type="text" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input pInputText type="password" id="password" formControlName="password" class="form-control">
        </div>
        <p-button mat-flat-button type="submit">Login</p-button>
    </form>
    <!-- <div *ngIf="form.invalid" class="alert alert-danger">
        Email and password are required
    </div>
    <div *ngIf="error" class="alert alert-danger">
    </div> -->
</div>