<p>user-list works!</p>
<p-dataView #dv [value]="users">
    <ng-template pTemplate="list" let-users>
        <div class="grid grid-cols-1 gap-4">
            <div class="col-span-1" *ngFor="let user of users; let first = first">
                <div class="flex flex-col sm:flex-row sm:items-center p-4 gap-3">
                    <div>{{user.firstName}}</div>
                    <div>{{user.lastName}}</div>
                    <div>{{user.email}}</div>
                    <div>{{user.role}}</div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>