/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-dark-purple/theme.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
    height: 100%;
    // background-color: #f1f2f6;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}